
h1 {
    color:blueviolet;
}
img {
    width:400px;
}
#spanId {
    font-size:18px;
    margin:50px;
}
#thirdDiv {
    background: pink;
    height:600px;
    width: 500px;
    padding:50px;
    border:solid 10px rgb(94, 51, 212);
}
